language: android
android:
  components:
    # latest revision of Android SDK Tools
    - platform-tools
    - tools

    # BuildTools
    - build-tools-19.1.0

    # SDK
    - android-19

    # system images
    - sys-img-armeabi-v7a-android-19
    - sys-img-x86-android-17
